{% extends "layout.html" %}
{% block content %}
<h1>
    All Students
</h1>
    {% for student in students %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                </div>
                <h2><a class="article-title" href="#">{{ student.Name }}</a></h2>
                <p class="article-content">SIN: {{ student.SIN }}</p>
            </div>
        </article>
    {% endfor %}

{% endblock content%}





